/*=================================================================
 Call To Action 1
==================================================================*/

.call-to-action {
  padding:60px 0;
  background: url('../../images/about3.jpg');
  background-size: cover;
  color: $light;
  h2 {
    line-height: 1.5;
    font-size: 4vh;

  }
  p {
    color: $light;
    font-size: 2vh;

  }
  .btn-main {
    margin-top: 20px;
    font-size: 2vh;
  }
}





/*=================================================================
 Call To Action 2
==================================================================*/

.call-to-action-2 {
  padding:100px 0;
  background-image: url('../images/call-to-action/call-to-action-bg.jpg');
  background-size: cover;
  color: $light;
  h2 {
    line-height: 1.5;
    font-size: 5vh;
  }
  p {
    color: $light;
    font-size: 2vh;

  }
  .btn-main {
    margin-top: 20px;
    font-size: 3vh;
  }

}
