<section class="" >

  <div class="container">


    <div class="row justify-content-md-center miscela-card">

      <div class="col-md-auto">
      <img src="../../images/products/miscelaAmabile.png" class="img-fluid float-left" style="max-width: 300px">
      </div>

      <div class="col miscela-block" >

        <h2>Amabile</h2>
        <p>Per i consumatori che cercano il giusto compromesso al proprio palato, l'aroma equilibrato e amabile caratterizza questa miscela creata appositamente per ottenere il classico "ESPRESSO ITALIANO"
        </p>
        <a href="../../contact.html"  class="btn btn-primary">Scopri Di Piu'</a>

      </div>

    </div>

<!--    end first product -->

    <div class="row justify-content-md-center miscela-card">


      <div class="col miscela-block" >

        <h2>Intenso</h2>
        <p>Per i consumatori che apprezzano un caffe' un po' piu' forte e deciso tipico della tradizione italiana, la miscela intenso dal gusto pieno e corposo è l'ideale dal gusto pieno e corposo è l'ideale per ottenere un risultato in tazza dalla cream densa e invitante.
        </p>
        <a  href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>
      <div class="col-md-auto">
        <img src="../../images/products/miscelaIntenso.png" class="img-fluid float-right" style="max-width: 300px">
      </div>


    </div>

<!--    end second product -->


    <div class="row justify-content-md-center  miscela-card">

      <div class="col-md-auto">
        <img src="../../images/products/miscelaEmozione.png" class="img-fluid float-left" style="max-width: 300px">
      </div>

      <div class="col miscela-block" >
        <h2>Emozione</h2>
        <p>Speciality Coffee Espresso unico e aromatico, dolce e delicato al palato con un retrogusto finale leggermente e piacevolmente acido tipico di chi preferisce la tipologia "ARABICA".</p>
        <a  href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>

    </div>

<!--    end third product -->

    <div class="row justify-content-md-center miscela-card">


      <div class="col miscela-block" >

        <h2>Deca</h2>
        <p>La miscela loremLa miscela lorem ipsum La miscela lorem ipsum La miscela lorem ipsum La miscela lorem ipsum La miscela lorem ipsum
          La miscela lorem ipsum La miscela lorem ipsum La miscela lorem ipsum La miscela lorem ipsum ipsum </p>
        <a href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto">
        <img src="../../images/products/miscelaDeca.png" class="img-fluid float-right" style="max-width: 300px">
      </div>

    </div>
  </div>


</section>
