<section class="" >

  <div class="container pt-2 pb-2 products-list">


    <div class="row justify-content-center miscela-card">


    <!-- start first product   -->
      <div class="col miscela-block order-md-0 align-items-start justify-content-md-center d-flex flex-column" >

        <h2>Tazzine Caffe</h2>
        <p> Tazzine Caffe del bar. <br> Vendibili a set da 6 e 12.</p>

        <a href="../../contact.html"  class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-2">
        <img src="../../images/products/tazzinaCaffeBianca.png" class="img-fluid float-right " style="max-width: 300px">
      </div>

    </div>

    <!--    end first product -->

    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-2 align-items-end justify-content-md-center d-flex text-md-right flex-column">

        <h2>Tazze da Cappuccino</h2>
        <p> Tazze Cappuccino del bar. <br> Vendibili a set da 6 e 12.</p>
        <a  href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-0" style="">
        <img src="../../images/products/tazzaCappuccioBianca.png" class="img-fluid float-left" style="max-width: 300px">
      </div>

    </div>

    <!--    end second product -->


    <!-- start first product   -->
    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-0 align-items-start justify-content-md-center d-flex flex-column" >

        <h2>Tazzina in vetro Caffeino</h2>
        <p> Tazzine in vetro del bar. <br> Vendibili a set da 6 e 12.</p>

        <a href="../../contact.html"  class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-2">
        <img src="../../images/products/tazzinaCaffeino.png" class="img-fluid image-to-big float-right" style="max-width: 300px">
      </div>

    </div>

  <!--    end first product -->

  <div class="row justify-content-center miscela-card">

    <div class="col miscela-block order-md-2 align-items-end justify-content-md-center d-flex text-md-right flex-column">

      <h2>Tazzina in vetro Ginseng</h2>
      <p> Tazze in vetro del bar. <br> Vendibili a set da 6 e 12.</p>
      <a  href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

    </div>

    <div class="col-md-auto order-md-0" style="">
      <img src="../../images/products/tazzinaGinseng.png" class="img-fluid float-left" style="max-width: 300px">
    </div>

  </div>

  <!--    end second product -->

    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-0 align-items-start justify-content-md-center d-flex flex-column" >

        <h2>Portatovaglioli e Portazucchero</h2>
        <p>Portatovaglioli con portazucchero modulabile. Tovaglioli disponibili in bianco o in marrone con materiale riciclato.</p>

        <a href="../../contact.html"  class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-2">
        <img src="../../images/products/portatovaglioliDoppio.png" class="img-fluid float-right" style="max-width: 300px">
      </div>

    </div>
  </div>

</section>
