<!--
Start Blog Section
=========================================== -->
<section class="blog" id="blog">
	<div class="container">
		<div class="row justify-content-center">
			<!-- section title -->
			<div class="col-xl-6 col-lg-8">
				<div class="title text-center ">
					<h2> Ultimi <span class="color">Aggiornamenti</span></h2>
					<div class="border"></div>
					<p>Scopri la nostra storia e lasciati affascinare dalle storie dietro ai nostri prodotti</p>
				</div>
			</div>
			<!-- /section title -->
		</div>
<div class = "container">

		<div class="row">
			<!-- single blog post -->
			<article class="col-md-4">
				<div class="post-item ">

					<div class="media-wrapper">
						<img loading="lazy" src="../../images/macinatura2.jpg" alt="amazing caves coverimage" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="single-post.html">La Macinatura</a></h3>
						<p>La macinatura del caffè è cruciale per la qualità del tuo espresso.</p>
						<a class="btn btn-main" href="single-post.html">Read more</a>
					</div>
				</div>
			</article>
			<!-- /single blog post -->

			<!-- single blog post -->
			<article class="col-md-4">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="../../images/coffeeBeans.jpg" alt="amazing caves coverimage" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="single-post.html">I chicchi di caffè</a></h3>
						<p>Dietro ogni tazza c'è un mondo di varietà e di origini da scoprire.</p>
						<a class="btn btn-main" href="../../chicchi-post.html">Read more</a>
					</div>
				</div>
			</article>
			<!-- end single blog post -->

			<!-- single blog post -->
			<article class="col-md-4">
				<div class="post-item">
					<div class="">
						<img loading="lazy" src="../../images/cimbaliAttr.png" alt="attrezzatura foto" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="single-post.html">Le nostre Attrezzature</a></h3>
						<p>Scopri di piu' sulle nostre attrezzature a cui ci affidiamo.</p>
						<a class="btn btn-main" href="../../attrezzatura-post.html">Read more</a>
					</div>
				</div>
			</article>
    </div>
			<!-- end single blog post -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->
