<!--
Start Call To Action
==================================== -->
<section class="call-to-action section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-8 col-lg-12 text-center">
				<h2>Contattaci per una consulenza personalizzata</h2>
				<p>Siamo qui per aiutarti a scegliere la soluzione di caffè perfetta per le tue esigenze, contattaci subito per una consulenza su misura.</p>
				<a href="contact.html" class="btn btn-main">Contattaci</a>
			</div>
		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
