<section class="" >

  <div class="container pt-2 pb-2">



    <!-- start first product -->
    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-0 align-items-start justify-content-md-center d-flex flex-column" >

        <h2>Capsule Espresso</h2>
        <p> Scatola di Capsule Espresso - 50 pezzi - Tafta Coffee Espresso
        </p>
        <a href="../../contact.html"  class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-2">
        <img src="../../images/products/espressoCapsule1.png" class="img-fluid image-to-big float-right " style="max-width: 300px">
      </div>

    </div>



    <!--    end first product -->

    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-2 align-items-end justify-content-md-center d-flex text-md-right flex-column">

        <h2>Capsule Dek</h2>
        <p> Scatola Capsule Dek - 50 pezzi - Tafta Coffee Dek
        </p>
        <a  href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-0" style="">
        <img src="../../images/products/dekCapsule2.png" class="img-fluid image-to-big float-left" style="max-width: 300px">
      </div>

    </div>
    <!--    end second product -->


  </div>
</section>
