 <!--Start Contact Us
	=========================================== -->
 <section class="contact-us" id="contact">
 	<div class="container">
 		<div class="row justify-content-center">
			 <!-- section title -->
 			<div class="col-xl-6 col-lg-8">
				<div class="title text-center">
					<h2>Hai domande o dubbi? Siamo qui per aiutarti</h2>
					<p>Contattaci per trasformare la tua esperienza di caffè in qualcosa di speciale</p>
					<div class="border"></div>
				</div>
			</div>
			<!-- /section title -->
		</div>
 		<div class="row">
 			<!-- Contact Details -->
 			<div class="contact-details col-md-6 ">
 				<h3 class="mb-3">Dettagli</h3>
 				<p>Siamo un'azienda nata a Vercelli, ma la bontà del nostro caffè si può gustare in tutto il Piemonte.<br>
          Non esitare a contattarci per qualsiasi domanda o dubbio: siamo a tua disposizione e cercheremo di rispondere nel minor tempo possibile.
        </p>
 				<ul class="contact-short-info mt-4">
 					<li class="mb-3">
 						<i class="tf-ion-ios-home"></i>
 						<span>Via Tripoli 91, Vercelli, 13012, Italia</span>
 					</li>
 					<li class="mb-3">
 						<i class="tf-ion-android-phone-portrait"></i>
 						<span>Phone: (+39) 351 502 1305</span>
 					</li>
 					<li>
 						<i class="tf-ion-android-mail"></i>
 						<span>Email: info@caffecentocinque.com</span>
 					</li>
 				</ul>
 				<!-- Footer Social Links -->
 				<div class="social-icon col-md-6 mx-auto">
 					<ul>
 						<li><a href="https://www.facebook.com/CaffeCentocinque105"><i class="tf-ion-social-facebook"></i></a></li>
 						<li><a href="https://www.instagram.com/caffecentocinque/"><i class="tf-ion-social-instagram"></i></a></li>
 					</ul>
 				</div>
 				<!--/. End Footer Social Links -->
 			</div>
 			<!-- / End Contact Details -->

 			<!-- Contact Form -->
 			<div class="contact-form col-md-6 ">
        <form id="contact-form" method="post" action="" name="contact-form" role="form">
 					<div class="form-group mb-4">
 						<input type="text" placeholder="Il tuo nome" class="form-control" name="name" id="name" required>
 					</div>

 					<div class="form-group mb-4">
 						<input type="email" placeholder="La tua email" class="form-control" name="email" id="email" required>
 					</div>

 					<div class="form-group mb-4">
 						<input type="text" placeholder="Titolo" class="form-control" name="subject" id="subject" required>
 					</div>

 					<div class="form-group mb-4">
 						<textarea rows="6" placeholder="Messaggio" class="form-control" name="message" id="message" required></textarea>
 					</div>
 					<div id="cf-submit">
 						<input type="" id="contact-submit" class="btn btn-transparent" value="Submit">
 					</div>

 				</form>
 			</div>
 			<!-- ./End Contact Form -->

 		</div> <!-- end row -->
 	</div> <!-- end container -->
 </section> <!-- end section -->

 <!--================================
=            Google Map            =
=================================-->
<!--<div class="google-map">-->
<!--	<div id="map_canvas" class="map_canvas" data-latitude="40.712776" data-longitude="-74.005974" data-marker="images/marker.png" data-marker-name="Bingo"></div>-->
<!--</div>-->
 <!--====  End of Google Map  ====-->
