<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <h3>L'Azienda</h3>
          <p>Siamo un'azienda determinata a far crescere il tuo business. Offriamo prodotti di alta qualità e consulenze personalizzate per aiutarti a migliorare l'esperienza del caffè dei tuoi clienti. Siamo qui per accompagnarvi nella vostra crescita, perché la vostra soddisfazione è il nostro obiettivo principale.</p>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <ul>
            <li>
              <h3>Trovaci</h3>
            </li>
            <li><a href="about.html">Vercelli</a></li>
            <li><a href="about.html">Novara</a></li>
            <li><a href="about.html">Alessandria</a></li>
            <li><a href="about.html">Casale Monferrato</a></li>
            <li><a href="about.html">Borgo Sesia</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6">
          <ul>
            <li>
              <h3>Seguici Sui Social</h3>
            </li>
            <li><a href="https://www.facebook.com/CaffeCentocinque105">Facebook</a></li>
            <li><a href="https://www.instagram.com/caffecentocinque/">Instagram</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
          <ul>
            <li>
              <h3>Informazioni</h3>
            </li>
            <li><a href="contact.html">Via Tripoli 91, Vercelli (VC), 13012, Italy</a></li>
            <li><a href="contact.html">(+39) 351 502 1305</a></li>
            <li><a href="contact.html">info@caffecentocinque.com</a></li>
            <li><a href="contact.html">Tafta Group S.R.L.</a></li>
            <li><a href="contact.html">PIVA CF. 02688880026</a></li>


          </ul>
        </div>
        <!-- End of .col-sm-3 -->


        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>©Copyright 2023. All rights reserved.</h5>
    <h6></h6>
  </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->
