<!-- Contact Form
<div class="contact-form col-md-6 ">
  <form id="contact-form" method="post" action="/source/" name="contact" role="form "data-netlify="true">
     <div class="form-group mb-4">
       <input type="text" placeholder="Il tuo nome" class="form-control" name="name" id="name" required>
     </div>

     <div class="form-group mb-4">
       <input type="email" placeholder="La tua email" class="form-control" name="email" id="email" required>
     </div>

     <div class="form-group mb-4">
       <input type="text" placeholder="Titolo" class="form-control" name="subject" id="subject" required>
     </div>

     <div class="form-group mb-4">
       <textarea rows="6" placeholder="Messaggio" class="form-control" name="message" id="message" required></textarea>
     </div>
     <div id="cf-submit">
       <button type="submit"  class="btn btn-transparent" id="contact-submit">Send</button>

     </div>

   </form>
 </div> -->


 <form name="contact" method="POST" action="/source/thanks.html" netlify
 data-netlify-recaptcha="true"
 >
  <p>
    <label>Your Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Your Role: <select name="role[]" multiple>
      <option value="leader">Leader</option>
      <option value="follower">Follower</option>
    </select></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <div data-netlify-recaptcha="true"></div>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
