<!-- Contact Form -->
<div class="contact-form col-md-6 ">
  <form id="contact-form" method="post" action="/source/thanks.html" name="contact" role="form "data-netlify="true">
     <div class="form-group mb-4">
       <input type="text" placeholder="Il tuo nome" class="form-control" name="name" id="name" required>
     </div>

     <div class="form-group mb-4">
       <input type="email" placeholder="La tua email" class="form-control" name="email" id="email" required>
     </div>

     <div class="form-group mb-4">
       <input type="text" placeholder="Titolo" class="form-control" name="subject" id="subject" required>
     </div>

     <div class="form-group mb-4">
       <textarea rows="6" placeholder="Messaggio" class="form-control" name="message" id="message" required></textarea>
     </div>
     <div id="cf-submit">
       <!-- <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit"> -->
       <button type="submit"  class="btn btn-transparent" id="contact-submit">Send</button>

     </div>

   </form>
 </div>
 <!-- ./End Contact Form -->
