<div class="hero-slider">
	<div class="slider-item th-fullpage  hero-area" style="background-image: url(../../images/prodottiVari1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Un team sempre al tuo <br>
						fianco</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5"> Lasciatevi accompagnare in un viaggio alla scoperta dei sapori del caffè.
            <br> Forniamo caffè di alta qualità e attrezzature professionali per supportare la tua passione e soddisfare le tue esigenze,
            <br> offrendoti un'esperienza di acquisto unica e indimenticabile.</p>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main"
						href="../../contact.html">Cresciamo!</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(../../images/baristaCaffe1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1"> Il caffè di qualità è la nostra <br> passione</h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">
            Unisciti a noi in un viaggio alla scoperta delle miscele pregiate,<br>
            dove la qualità, il gusto e la passione si fondono in ogni tazza. <br>
            Siamo orgogliosi di offrirti il meglio delle varietà di caffè del mondo,
            selezionate con cura e tostate con maestria, <br>
            per darti un'esperienza di gusto indimenticabile e un supporto costante per la tua attività.
          </p>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main"
						href="service.html">Gusta anche tu!</a>
				</div>
			</div>
		</div>
	</div>
</div>
