<section class="" >

  <div class="container pt-2 pb-2">


    <div class="row justify-content-center miscela-card">



      <div class="col miscela-block order-md-0 align-items-start justify-content-md-center d-flex flex-column" >

        <h2>Macchina Capsule Musetto</h2>
        <p> Macchina a capsule Musetto, compatibile con le capsule XXXXX, per un espresso cremoso e dal gusto intenso. </p>

        <a href="../../contact.html"  class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-2">
        <img src="../../images/products/macchinaCapsuleMusetto2.png" class="img-fluid image-to-big float-right" style="max-width: 300px" alt="Immagine macchina capsule">
      </div>

    </div>

    <!--    end first product -->

    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-2 align-items-end justify-content-md-center d-flex text-md-right flex-column">

        <h2>Macchina Capsule Espresso</h2>
        <p>Macchina a capsule Espresso, compatibile con le capsule XXXXX, per un espresso cremoso e dal gusto intenso.
        </p>
        <a  href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-0" style="">
        <img src="../../images/products/macchinaCapsuleEspresso.png" class="img-fluid image-to-big float-left" style="max-width: 300px" alt = "Immagine Macchina Caffe">
      </div>

    </div>

    <!--    end second product -->

</section>
