<section class="" >

  <div class="container pt-2 pb-2">


    <div class="row justify-content-center miscela-card">



      <div class="col miscela-block order-md-0 align-items-start justify-content-md-center d-flex flex-column" >

        <h2>Amabile</h2>
        <p>Per i consumatori che cercano il giusto compromesso al proprio palato, l'aroma equilibrato e amabile caratterizza questa miscela creata appositamente per ottenere il classico <span class="mph">"ESPRESSO ITALIANO" </span>
        </p>
        <a href="../../contact.html"  class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-2">
        <img src="../../images/products/miscelaAmabile.png" class="img-fluid float-right " style="max-width: 300px" alt = "Immagine miscela amabile">
      </div>

    </div>

<!--    end first product -->

    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-2 align-items-end justify-content-md-center d-flex text-md-right flex-column">

        <h2>Intenso</h2>
        <p>Per i consumatori che apprezzano un caffe' un po' piu' forte e deciso tipico della tradizione italiana, la miscela intenso dal gusto pieno e corposo è l'ideale dal gusto pieno e corposo è l'ideale per ottenere un risultato in tazza dalla crema densa e invitante.
        </p>
        <a  href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-0" style="">
        <img src="../../images/products/miscelaIntenso.png" class="img-fluid float-left " style="max-width: 300px" alt = "Immagine miscela intenso">
      </div>

    </div>

<!--    end second product -->


    <div class="row justify-content-center  miscela-card">

      <div class="col miscela-block order-md-0 align-items-start justify-content-md-center d-flex flex-column" >
        <h2>Emozione</h2>
        <p>Speciality Coffee Espresso unico e aromatico, dolce e delicato al palato con un retrogusto finale leggermente e piacevolmente acido tipico di chi preferisce la tipologia <span class="mph">"ARABICA". </span> </p>
        <a  href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-1">
        <img src="../../images/products/miscelaEmozione.png" class="img-fluid float-right" style="max-width: 300px" alt = "Immagine miscela emozione">
      </div>

    </div>

<!--    end third product -->

    <div class="row justify-content-center miscela-card">


      <div class="col miscela-block order-md-2 align-items-end justify-content-md-center d-flex flex-column" >

        <h2>Deca</h2>
        <p>La nostra miscela di caffè in grani decaffeinato offre il gusto e l'aroma distintivi del caffè italiano senza la caffeina.
          Lavoriamo con cura per selezionare i chicchi più pregiati, torrefarli con maestria e sottoporli a un processo delicato di decaffeinizzazione. Il risultato è una bevanda equilibrata e gustosa che puoi goderti in qualsiasi momento della giornata.
        </p>
        <a href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-0">
        <img src="../../images/products/miscelaDeca.png" class="img-fluid float-left" style="max-width: 300px" alt = "Immagine miscela deca">
      </div>

    </div>
  </div>


</section>
