  <!-- Start Products Section
==================================== -->
<section class="products" id="products">
  <div class="container">
    <div class="row justify-content-center">
      <!-- section title -->
      <div class="col-xl-6 col-lg-8 pt-4">
        <div class="title text-center">
          <h2>I nostri prodotti per la tua attivita'</h2>
          <p>La Linea Bar è stata pensata per soddisfare le esigenze di ogni
            professionista del settore delle bevande calde, garantendo un'esperienza di gusto perfetta ad ogni tazza. Ogni prodotto è realizzato con ingredienti di alta qualità e con la massima attenzione ai dettagli per garantire sapori intensi e autentici.</p>
          <div class="border"></div>
        </div>
      </div>
      <!-- /section title -->
    </div>
    <div class="row no-gutters">
      <!-- Single Product Item -->
      <div class="col-lg-4 product-block col-sm-6 mb-4 mb-lg-0">
        <div class=" p-4 color-bg text-center">
          <div class="product-image pb-3">
            <img src="../../images/products/miscelaIntenso.png" style="height: 250px"  alt="Product Image x400">
          </div>
          <h3>Le miscele di caffe </h3>
          <p>La miscela </p>
          <a href="../../miscele-caffe.html" class="btn btn-primary">Scopri Di Piu'</a>
        </div>
      </div>
      <!-- End Single Product Item -->

      <div class="col-lg-4 product-block col-sm-6 mb-4 mb-lg-0">
        <div class=" p-4 color-bg text-center">
          <div class="product-image pb-3">
            <img src="../../images/bustaGinseng.png"  style="height: 250px" alt="Product Image">
          </div>
          <h3>I Solubili</h3>
          <p>La miscela </p>
          <a href="../../solubili-bar.html" class="btn btn-primary">Scopri Di Piu'</a>
        </div>
      </div>

      <div class="col-lg-4  product-block col-sm-6 mb-4 mb-lg-0">
        <div class=" p-4 color-bg text-center">
          <div class="product-image pb-3">
            <img src="../../images/espressoCapsule1.png" alt="Product Image">
          </div>
          <h3>Le capsule </h3>
          <p>La miscela </p>
          <a href="../../capsule.html" class="btn btn-primary">Scopri Di Piu'</a>
        </div>
      </div>




    </div>
  </div>
</section>
