<!-- Start Products Section
==================================== -->
<section class="products" id="products">
  <div class="container">
    <div class="row justify-content-center">
      <!-- section title -->
      <div class="col-xl-6 col-lg-8 pt-4">
        <div class="title text-center">
          <h2>A casa come al bar</h2>
          <p>La Linea Casa è stata pensata per soddisfare le esigenze di tutte le persone che
            che vogliono la stessa qualita' a casa come al bar.
          </p>
          <div class="border"></div>
        </div>
      </div>
      <!-- /section title -->
    </div>
    <div class="row no-gutters">
      <!-- Single Product Item -->
      <div class="col-lg-4 product-block col-sm-6 mb-4  ">
        <div class=" p-4 color-bg text-center">
          <div class="product-image pb-3">
            <img src="../../images/products/espressoCapsule2.png" style="height: 250px"  alt="Product Image x400">
          </div>
          <h3>Le Capsule</h3>
          <p>Prodotti  </p>
          <a href="../../capsule.html" class="btn btn-primary">Scopri Di Piu'</a>
        </div>
      </div>
      <!-- End Single Product Item -->

      <div class="col-lg-4 product-block col-sm-6 mb-4 ">
        <div class=" p-4 color-bg text-center">
          <div class="product-image pb-3">
            <img src="../../images/products/macchinaCapsuleMusetto1.png"  style="height: 250px" alt="Product Image">
          </div>
          <h3>Le Macchine</h3>
          <p>Macchine per tutte le esigenze</p>
          <a href="../../macchine-casa.html" class="btn btn-primary">Scopri Di Piu'</a>
        </div>
      </div>

      <div class="col-lg-4  product-block col-sm-6 mb-4">
        <div class="p-4 color-bg text-center">
          <div class="product-image pb-3">
            <img src="../../images/products/tazzaCappuccioBianca.png" style="height: 250px" alt="Product Image">
          </div>
          <h3>Gli Accessori </h3>
          <p>Dalle capsule alle bustine di zucchero</p>
          <a href="../../accessori.html" class="btn btn-primary">Scopri Di Piu'</a>
        </div>
      </div>




    </div>
  </div>
</section>
