<!--
Start About Section
==================================== -->
<section class="service-2 section">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-6">
        <!-- section title -->
        <div class="title text-center">
          <h2>La scelta perfetta per i veri amanti della qualità</h2>
          <p> Esplora la nostra vasta selezione di prodotti per il caffè, dalle miscele pregiate alle attrezzature professionali, e scopri il gusto e la qualità che solo la nostra passione può offrirti.
          <div class="border"></div>
        </div>
        <!-- /section title -->
      </div>
    </div>
    <div class="row">
</br>
      <div class="col-md-4  d-none d-md-block">
        <img loading="lazy" src="../../images/immagineLunga1.png" class="img-fluid inline-block" alt="">
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-coffee"></i>
              <h4>Linea Bar</h4>
              <p>Soddisfa le richieste dei tuoi clienti più esigenti con la nostra linea bar di caffè di alta qualità e attrezzature professionali per un'esperienza di caffè indimenticabile</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-home"></i>
              <h4>Linea Casa</h4>
              <p>Prepara il tuo caffè perfetto come un barista professionista con la nostra selezione di attrezzature e miscele pregiate per la tua cucina, per una pausa caffè davvero soddisfacente</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-toolbox"></i>
              <h4>Attrezzatura</h4>
              <p>"Abbina la qualità delle nostre miscele pregiate con la migliore attrezzatura professionale per il tuo bar o ristorante, tra cui macchine da caffè, macinatori e altro ancora</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-plus-outline"></i>
              <h4>Accessori</h4>
              <p>Aggiungi eleganza e funzionalità al tuo locale con i nostri accessori per il caffè, tra cui tazze in porcellana e vetro di design, portatovaglioli, porta-zucchero e altro ancora</p>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->
