<section class="" >

  <div class="container pt-2 pb-2">



    <!-- start first product -->
    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-0 align-items-start justify-content-md-center d-flex flex-column" >

        <h2>Busta Ginseng</h2>
        <p> Busta Ginseng Solubile 1000gr di Boston
        </p>
        <a href="../../contact.html"  class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-2">
        <img src="../../images/products/bustaGinseng.png" class="img-fluid image-to-big float-right " style="max-width: 300px">
      </div>

    </div>



    <!--    end first product -->

    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-2 align-items-end justify-content-md-center d-flex text-md-right flex-column">

        <h2>Busta Orzo</h2>
        <p>Busta Orzo Solubile Barley 200gr di Boston</p>
        <a  href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-0" style="">
        <img src="../../images/products/bustaOrzo.png" class="img-fluid image-to-big float-left" style="max-width: 300px">
      </div>

    </div>
    <!--    end second product -->


    <!-- start first product -->
    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-0 align-items-start justify-content-md-center d-flex flex-column" >

        <h2>Ginseng in Capsule</h2>
        <p> Scatola di Ginseng in capsule - 50 pezzi
        </p>
        <a href="../../contact.html"  class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-2">
        <img src="../../images/products/capsuleGinseng2.png" class="img-fluid image-to-big float-right" style="max-width: 300px">
      </div>

    </div>

    <!--    end first product -->

    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-2 align-items-end justify-content-md-center d-flex text-md-right flex-column">

        <h2>Orzo in Capsule</h2>
        <p> Scatola di Orzo in capsule - 50 pezzi
        </p>
        <a  href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-0" style="">
        <img src="../../images/products/capsuleOrzo2.png" class="img-fluid image-to-big float-left" style="max-width: 300px">
      </div>

    </div>
    <!--    end second product -->

    <!-- start first product -->
    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-0 align-items-start justify-content-md-center d-flex flex-column" >

        <h2>Capsule Nocciola</h2>
        <p> Scatola di Capsule Nocciola Dolce Pausa - 50 pezzi
        </p>
        <a href="../../contact.html"  class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-2">
        <img src="../../images/products/scatolaNocciola2.png" class="img-fluid image-to-big float-right " style="max-width: 300px">
      </div>

    </div>

    <!--    end first product -->

    <div class="row justify-content-center miscela-card">

      <div class="col miscela-block order-md-2 align-items-end justify-content-md-center d-flex text-md-right flex-column">

        <h2>Capsule Orzo</h2>
        <p> Scatola di Capsule Orzo Dolce Pausa - 50 pezzi
        </p>
        <a  href="../../contact.html" class="btn btn-primary">Scopri Di Piu'</a>

      </div>

      <div class="col-md-auto order-md-0" style="">
        <img src="../../images/products/scatolaOrzo2.png" class="img-fluid image-to-big float-left" style="max-width: 300px">
      </div>

    </div>
    <!--    end second product -->



  </div>
</section>
